<h1>Job Details</h1>
<ul>
  <li><b>Job ID:</b> <%= @job.jobid %></li>
  <li><b>User:</b> <%= @job.username %></li>
  <li><b>Account:</b> <%= @job.account %></li>
  <li><b>Submit Time:</b> <%= @job.submit %></li>
  <li><b>State:</b> <%= @job.state %></li>
  <li><b>Partition:</b> <%= @job.partition %></li>
  <li><b>Elapsed:</b> <%= @job.elapsed %></li>
  <li><b>Exit Code:</b> <%= @job.exitcode %></li>
  <li><b>Workdir:</b> <%= @job.workdir %></li>
</ul>
